@import "variable.css.scss";
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

/* universal */
html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  margin: 2% !important;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $LightGrey;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

span.error {
  color: red;
}

.alert-error,
.alert-alert {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

.alert-error hr,
.alert-alert hr {
  border-top-color: #e4b9c0;
}

.alert-error .alert-link,
.alert-alert .alert-link {
  color: #843534;
}

.alert-notice {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bcdff1;
}

.alert-notice hr {
  border-top-color: #a6d5ec;
}

.alert-notice .alert-link {
  color: #245269;
}

div.alert-timedout {
  display: none;
}

/* header */

img#logo {
  width: 50px;
  height: 50px;
  padding: 0px !important;
}

.dropdown-menu-icon {
  color: #5bc0de;
  margin-top: 3px;
  margin-right: 8px
}